@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.l-header {
  width: 100%;
  height: 120px;
  background: #81EFBE;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .l-header {
      height: 80px; } }

.l-main {
  font-family: "M PLUS 1p", sans-serif; }

.l-footer {
  width: 100%;
  height: 240px;
  background: #2D5442;
  padding: 40px;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    .l-footer {
      display: flex;
      flex-direction: column;
      padding: 12px;
      height: auto; } }

.l-bg-white {
  width: 100%;
  height: auto;
  background: #FFFFFF; }
  @media screen and (max-width: 780px) {
    .l-bg-white {
      margin-top: 60px;
      margin-bottom: 60px; } }

.l-bg-lightGreen {
  background: #EFFFF8;
  height: auto;
  width: 100%;
  padding: 120px;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .l-bg-lightGreen {
      padding: 20px; } }

#l-nav-drawer {
  display: none; }
  @media screen and (max-width: 780px) {
    #l-nav-drawer {
      position: relative;
      /*チェックボックス等は非表示に*/
      /*アイコンのスペース*/
      /*ハンバーガーアイコンのCSS*/
      /*閉じる用の薄黒カバー*/
      /*中身*/
      /*チェックが入ったらもろもろ表示*/ }
      #l-nav-drawer .l-nav-none {
        display: none; }
      #l-nav-drawer #l-nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle; }
      #l-nav-drawer #l-nav-open span, #l-nav-drawer #l-nav-open span:before, #l-nav-drawer #l-nav-open span:after {
        position: absolute;
        height: 3px;
        /*線の太さ*/
        width: 25px;
        /*長さ*/
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer; }
      #l-nav-drawer #l-nav-open span:before {
        bottom: -8px; }
      #l-nav-drawer #l-nav-open span:after {
        bottom: -16px; }
      #l-nav-drawer #l-nav-close {
        display: none;
        /*はじめは隠しておく*/
        position: fixed;
        z-index: 3;
        top: 0;
        /*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out; }
      #l-nav-drawer #l-nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        /*最前面に*/
        width: 90%;
        /*右側に隙間を作る（閉じるカバーを表示）*/
        max-width: 330px;
        /*最大幅（調整してください）*/
        height: 100%;
        background: #D3D3D3;
        /*背景色*/
        transition: .3s ease-in-out;
        /*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
        /*左に隠しておく*/ }
        #l-nav-drawer #l-nav-content .l-sp-nav {
          width: 50%;
          height: 100%;
          margin: 0 auto;
          padding: 22; }
          #l-nav-drawer #l-nav-content .l-sp-nav .l-sp-li {
            margin-bottom: 45px; }
            #l-nav-drawer #l-nav-content .l-sp-nav .l-sp-li .l-sp-a {
              font-family: 'Roboto', sans-serif;
              text-decoration: none;
              line-height: 20px;
              font-size: 20px;
              color: #00934E; }
      #l-nav-drawer #l-nav-input:checked ~ #l-nav-close {
        display: block;
        /*カバーを表示*/
        opacity: .5; }
      #l-nav-drawer #l-nav-input:checked ~ #l-nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        /*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15); } }

.c-about-img {
  width: 50%;
  height: 400px; }
  @media screen and (max-width: 780px) {
    .c-about-img {
      height: 320px; } }
  @media screen and (max-width: 414px) {
    .c-about-img {
      width: 100%;
      height: 200px; }
      .c-about-img:first-child {
        order: 0; }
      .c-about-img:nth-child(3) {
        order: 0; } }

.c-btn {
  background: #00934E;
  color: #FFFFFF;
  font-size: 18px;
  display: block;
  width: 400px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  text-decoration: none;
  box-shadow: #000000 0 4px 20px 0; }
  .c-btn:hover {
    cursor: pointer;
    opacity: .75; }
  @media screen and (max-width: 414px) {
    .c-btn {
      width: 100%;
      font-size: 16px; } }

.c-burger-line {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000000;
  border-radius: 4px;
  left: 0; }
  .c-burger-line:nth-of-type(1) {
    top: 0; }
  .c-burger-line:nth-of-type(2) {
    top: 14px; }
  .c-burger-line:nth-of-type(3) {
    bottom: 0; }

.c-burger-ul {
  display: none; }
  @media screen and (max-width: 780px) {
    .c-burger-ul {
      display: block; } }

.c-card {
  display: flex;
  flex-direction: column;
  border: #D3D3D3 3px solid;
  width: 30%;
  height: 400px;
  margin-bottom: 40px;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .c-card {
      width: 48%;
      margin-right: 12px; }
      .c-card:nth-child(2) {
        margin-right: 0; }
      .c-card:nth-child(4) {
        margin-right: 0; }
      .c-card:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 414px) {
    .c-card {
      width: 100%;
      margin-right: 0; } }

.c-card-img {
  width: 100%;
  height: 260px; }

.c-card-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto;
  padding: 40px;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .c-card-section {
      padding: 20px; } }
  @media screen and (max-width: 414px) {
    .c-card-section {
      padding: 12px; } }

.c-coach-area {
  margin: 60px auto;
  width: 50%; }
  @media screen and (max-width: 414px) {
    .c-coach-area {
      width: 100%; } }

.c-coach-img {
  display: block;
  margin: 24px auto;
  width: 400px;
  height: 520px; }
  @media screen and (max-width: 414px) {
    .c-coach-img {
      width: 100%; } }

.c-footer-imgArea {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: url("../img/line-img.jpg");
  background-size: cover; }
  @media screen and (max-width: 780px) {
    .c-footer-imgArea {
      height: 120px; } }

.c-footer-li {
  font-size: 16px;
  color: #FFFFFF; }
  @media screen and (max-width: 414px) {
    .c-footer-li {
      margin-bottom: 12px; } }

.c-footer-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 40px; }
  .c-footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: .7; }

.c-footer-logo {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 20px; }

.c-footer-ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media screen and (max-width: 414px) {
    .c-footer-ul {
      display: flex;
      flex-direction: column; } }

.c-header-logo {
  font-size: 28px;
  color: #3D725B;
  line-height: 80px; }
  @media screen and (max-width: 780px) {
    .c-header-logo {
      line-height: 40px;
      font-size: 20px; } }

.c-header-ul {
  display: flex;
  align-items: center;
  font-size: 18px; }
  @media screen and (max-width: 780px) {
    .c-header-ul {
      display: block;
      font-size: 20px; } }

.c-heading {
  font-size: 20px;
  margin-bottom: 20px; }
  @media screen and (max-width: 414px) {
    .c-heading {
      font-size: 18px; } }

.c-img-area {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: url("../img/bg-img.jpg");
  background-size: cover; }
  @media screen and (max-width: 780px) {
    .c-img-area {
      height: 120px; } }

.c-header-li {
  margin-right: 12px; }
  .c-header-li:last-child {
    margin-right: 0; }
  @media screen and (max-width: 780px) {
    .c-header-li {
      margin-right: initial; } }

.c-header-link {
  font-size: 18px;
  color: #3D725B;
  text-decoration: none;
  padding: 20px;
  -webkit-font-smoothing: initial; }
  .c-header-link:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7; }
  @media screen and (max-width: 780px) {
    .c-header-link {
      -webkit-font-smoothing: initial;
      display: block;
      padding: 20px;
      text-align: center;
      font-size: 20px; } }
  @media screen and (max-width: 414px) {
    .c-header-link {
      -webkit-font-smoothing: initial;
      display: block;
      padding: 12px;
      text-align: center;
      font-size: 18px; } }

.c-introduction {
  margin: 40px auto;
  width: 50%; }
  @media screen and (max-width: 414px) {
    .c-introduction {
      width: 100%;
      padding: 12px;
      margin: 20px auto;
      box-sizing: border-box; } }

.c-lesson-area {
  padding: 80px;
  width: 60%;
  box-sizing: border-box;
  margin: 0 auto; }
  @media screen and (max-width: 780px) {
    .c-lesson-area {
      padding: 40px;
      width: 50%; } }
  @media screen and (max-width: 414px) {
    .c-lesson-area {
      width: 100%;
      padding: 12px; } }

.c-lesson-img {
  width: 50%;
  height: 400px;
  display: block;
  margin: 20px auto; }
  @media screen and (max-width: 780px) {
    .c-lesson-img {
      width: 80%; } }
  @media screen and (max-width: 414px) {
    .c-lesson-img {
      width: 100%;
      height: auto; } }

.c-link {
  display: block;
  text-align: center;
  margin-top: 60px;
  text-decoration: none;
  font-size: 18px;
  color: #000000; }
  .c-link:hover {
    text-decoration: underline;
    cursor: pointer;
    opacity: .75; }

.c-location-area {
  margin: 60px auto;
  width: 50%; }
  @media screen and (max-width: 780px) {
    .c-location-area {
      margin: 20px auto;
      width: 80%; } }
  @media screen and (max-width: 414px) {
    .c-location-area {
      width: 100%; } }

.c-location-img {
  display: block;
  margin: 24px auto;
  width: 560px;
  height: 420px; }
  @media screen and (max-width: 414px) {
    .c-location-img {
      width: 100%;
      height: auto; } }

.c-main-pic {
  width: 100%;
  height: auto; }

.c-menu-cover {
  display: block;
  height: 100%;
  line-height: 80px; }
  @media screen and (max-width: 780px) {
    .c-menu-cover {
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(255, 255, 255, 0.85);
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      transition: .5s; }
      .c-menu-cover.active {
        transition: .5s;
        transform: translateX(-100%);
        z-index: 2; } }
  @media screen and (max-width: 414px) {
    .c-menu-cover {
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(255, 255, 255, 0.85);
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      transition: .5s; }
      .c-menu-cover.active {
        transition: .5s;
        transform: translateX(-100%);
        z-index: 2; } }

.c-menu-trigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3; }
  .c-menu-trigger.active .c-burger-line:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .c-menu-trigger.active .c-burger-line:nth-of-type(2) {
    opacity: 0; }
  .c-menu-trigger.active .c-burger-line:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }
  @media screen and (max-width: 780px) {
    .c-menu-trigger {
      display: inline-block; } }
  @media screen and (max-width: 414px) {
    .c-menu-trigger {
      display: inline-block; } }

.c-reason {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 24px; }
  @media screen and (max-width: 414px) {
    .c-reason {
      width: 100%; } }

.c-reason-img {
  width: 100%;
  height: 328px;
  margin-bottom: 32px; }
  @media screen and (max-width: 780px) {
    .c-reason-img {
      height: 200px; } }

.c-reason-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px; }

.c-schedule-td {
  border: #000000 solid 2px;
  box-sizing: border-box;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }
  @media screen and (max-width: 780px) {
    .c-schedule-td {
      padding: 0; } }
  @media screen and (max-width: 414px) {
    .c-schedule-td {
      padding: 0; } }

.c-schedule-th {
  border: #000000 solid 2px;
  box-sizing: border-box;
  text-align: center;
  padding: 40px;
  display: table-cell;
  vertical-align: middle; }
  @media screen and (max-width: 780px) {
    .c-schedule-th {
      padding: 0; } }
  @media screen and (max-width: 414px) {
    .c-schedule-th {
      padding: 0; } }

.c-schedule-tr {
  height: 100px;
  border: #000000 solid 2px; }
  @media screen and (max-width: 780px) {
    .c-schedule-tr {
      height: 60px; } }
  @media screen and (max-width: 414px) {
    .c-schedule-tr {
      height: auto; } }

.c-school-area {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    .c-school-area {
      flex-direction: column;
      margin-top: 24px; } }

.c-schedule-table {
  width: 100%;
  margin: 0 auto;
  height: auto;
  border: #000000 solid 3px;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .c-schedule-table {
      width: 100%; } }
  @media screen and (max-width: 414px) {
    .c-schedule-table {
      width: 100%; } }

.c-text {
  font-size: 18px;
  line-height: 1.5em; }
  @media screen and (max-width: 780px) {
    .c-text {
      font-size: 18px; } }
  @media screen and (max-width: 414px) {
    .c-text {
      font-size: 16px; } }

.c-text-area {
  padding: 80px;
  width: 50%;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .c-text-area {
      padding: 40px;
      width: 50%; } }
  @media screen and (max-width: 414px) {
    .c-text-area {
      width: 100%;
      padding: 12px; }
      .c-text-area:first-child {
        order: 1; }
      .c-text-area:nth-child(3) {
        order: 1; } }

.c-textSection-area {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 60px; }
  @media screen and (max-width: 780px) {
    .c-textSection-area {
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 20px; } }
  @media screen and (max-width: 414px) {
    .c-textSection-area {
      flex-direction: column;
      align-items: center; } }

.c-title {
  font-size: 28px;
  text-align: center; }
  @media screen and (max-width: 414px) {
    .c-title {
      font-size: 20px; } }

.c-topicPath {
  line-height: 68px;
  text-decoration: none;
  margin-right: 12px;
  color: #000000; }
  @media screen and (max-width: 780px) {
    .c-topicPath {
      line-height: 56px; } }
  @media screen and (max-width: 414px) {
    .c-topicPath {
      margin-right: 8px; } }

.c-topicPath-area {
  width: 100%;
  height: 68px;
  padding-left: 180px;
  background: #D3D3D3;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .c-topicPath-area {
      height: 56px;
      padding-left: 40px; } }
  @media screen and (max-width: 414px) {
    .c-topicPath-area {
      padding-left: 20px; } }

.p-footer-underline {
  border-top: #FFFFFF solid 5px;
  height: 32px;
  width: 100%; }
  @media screen and (max-width: 414px) {
    .p-footer-underline {
      height: 16px; } }

.p-heading-square {
  background: #FCFCFC;
  width: 100%;
  height: 64px;
  line-height: 64px;
  margin-bottom: 16px;
  text-align: center; }
  @media screen and (max-width: 780px) {
    .p-heading-square {
      line-height: 34px;
      vertical-align: middle; } }

.p-text-square {
  background: #81EFBE;
  width: 100%;
  height: 64px;
  line-height: 64px;
  margin-bottom: 16px;
  text-align: center; }
  @media screen and (max-width: 414px) {
    .p-text-square {
      line-height: 34px;
      vertical-align: middle; } }

.u-blue {
  color: #0085C9; }

.u-golf-ball {
  font-size: 250px;
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }
  @media screen and (max-width: 414px) {
    .u-golf-ball {
      font-size: 120px; } }

.u-green {
  color: #00934E; }

.u-l-padding {
  padding: 120px;
  box-sizing: border-box; }
  @media screen and (max-width: 780px) {
    .u-l-padding {
      padding: 8px; } }

.u-link:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: .7; }

.u-margin {
  margin-top: 60px;
  margin-bottom: 60px; }
  @media screen and (max-width: 780px) {
    .u-margin {
      margin-top: 24px;
      margin-bottom: 24px; } }

.u-margin-top {
  margin-top: 40px; }

.u-red {
  color: #EB3228; }

.u-schedule-text {
  font-size: 18px;
  line-height: 1.5em; }
  @media screen and (max-width: 780px) {
    .u-schedule-text {
      font-size: 16px; } }
  @media screen and (max-width: 414px) {
    .u-schedule-text {
      font-size: 8px; } }

.u-text-center {
  text-align: center; }

.u-underline {
  border-bottom: #2D5442 solid 5px;
  height: 20px;
  margin: 0 auto;
  width: 50%; }
  @media screen and (max-width: 780px) {
    .u-underline {
      width: 100%; } }
