//スクールの特徴の画像イメージ
.c-about-img{
  width: 50%;
  height: 400px;

  @include tb(){
    height: auto;
  }
  @include sp(){
    width: 100%;
    height: 200px;
    &:first-child{
      order: 0;
    }
    &:nth-child(3){
      order: 0;
    }
  }
}