//ハンバーガーメニューアイコン
.c-burger-line{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $black;
  border-radius: 4px;
  left: 0;
  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: 14px;
  }
  &:nth-of-type(3) {
    bottom: 0;
  }
}
