//footer„ÅÆul
.c-footer-ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin-m;

  @include sp(){
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-ss;
  }
}