//footer近くのイメージエリア
.c-footer-imgArea{
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: url("../img/line-img-top.jpg");
  background-size: cover;

  @include tb(){
    height: 120px;
  }
}