//headerメニューリストのリンク部分
.c-header-link{
  font-size: $font-size-m;
  color: $grayGreen;
  text-decoration: none;
  padding: $padding-ss;
  -webkit-font-smoothing: initial;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.7;
  }
  @include tb(){
    -webkit-font-smoothing: initial;
    display: block;
    padding: $padding-s;
    text-align: center;
    font-size: $font-size-l;
  }
  @include sp(){
    -webkit-font-smoothing: initial;
    display: block;
    padding: $padding-ss;
    text-align: center;
    font-size: $font-size-m;
  }
}