//レッスン内容&料金の画像部分
.c-lesson-img{
  width: 50%;
  height: 400px;
  display: block;
  margin: $margin-m auto;

  @include tb(){
    width: 80%;
  }
  @include sp(){
    width: 100%;
    height: auto;
  }
}