//レッスン内容&料金のテキスト部分
.c-lesson-area{
  padding: $padding-ll;
  width: 60%;
  box-sizing: border-box;
  margin: 0 auto;

 @include tb(){
   padding: $padding-m;
   width: 50%;
 }
  @include sp(){
    width: 100%;
    padding: $padding-ss;
  }
}