//topページリンク部分
.c-link{
  display: block;
  text-align: center;
  margin-top: $margin-xll;
  text-decoration: none;
  font-size: $font-size-m;
  color: $black;

  &:hover{
    text-decoration: underline;
    cursor: pointer;
    opacity: .75;
  }
}