//レスポンシブ時にハンバーガメニューを形成
.c-menu-cover{
  height: 100%;
  line-height: 80px;
  @include tb(){
    display: none;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, .85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s;
    &.active {
      display: block;
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
  @include sp(){
    display: none;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, .85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s;
    &.active {
      display: block;
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}
//.c-menu-cover{
//  @include sp() { // TODO:リファクタ必要（PCで修正が入る際も考えてincludeはクラスの中に書く）
//    display: none;
//    position: absolute;
//    top: 0;
//    right: -100%;
//    background: rgba(255, 255, 255, .85);
//    width: 100%;
//    height: 100vh;
//    padding-top: 50px;
//    transition: .5s;
//    &.active {
//      display: block;
//      transition: .5s;
//      transform: translateX(-100%);
//      z-index: 2;
//    }
//  }
//}
//
//.c-header-ul {
//  display: flex;
//  align-items: center;
//  font-size: $font-size-s;
//  //font-family: $font-family_corp;
//  @include sp(){
//    display: block;
//    font-size: $font-size-ss;
//  }
//}
//.c-header-li {
//  margin-right: 8px;
//  @include sp() {
//    margin-right: initial;
//  }
//}
//.c-header-link {
//  -webkit-font-smoothing: initial;
//  @include sp(){
//    -webkit-font-smoothing: initial;
//    display: block;
//    padding: $padding-ss;
//    text-align: center;
//  }
//}
//
//
//// https://www.nxworld.net/tips/12-css-hamburger-menu-active-effect.html
//.c-menu-trigger {
//  display: none;
//  @include sp() {
//    display: inline-block;
//  }
//  transition: all .4s;
//  box-sizing: border-box;
//  position: relative;
//  width: 40px;
//  height: 32px;
//  z-index: 3;
//  &.active .c-burger-line {
//    &:nth-of-type(1) {
//      transform: translateY(12px) rotate(-45deg);
//    }
//    &:nth-of-type(2) {
//      opacity: 0;
//    }
//    &:nth-of-type(3) {
//      transform: translateY(-15px) rotate(45deg);
//    }
//  }
//}
//
//.c-burger-line {
//  display: inline-block;
//  transition: all .4s;
//  box-sizing: border-box;
//  position: absolute;
//  left: 0;
//  width: 100%;
//  height: 4px;
//  background-color: $black;
//  border-radius: 4px;
//  &:nth-of-type(1) {
//    top: 0;
//  }
//  &:nth-of-type(2) {
//    top: 14px;
//  }
//  &:nth-of-type(3) {
//    bottom: 0;
//  }
//}
//
