//ハンバーガーメニュー部分
.c-menu-trigger{
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  &.active .c-burger-line {
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
    }
  }

  @include tb(){
    display: inline-block;
  }
  @include sp(){
    display: inline-block;
  }
}