//スケジュールのテーブルデータ
.c-schedule-td{
  border: $black solid 2px;
  box-sizing: border-box;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

  @include tb(){
    padding: 0;
  }
  @include sp(){
    padding: 0;
  }
}