//スクールの特徴の部分
.c-school-area{
  margin-top: $margin-xll;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @include sp(){
    flex-direction: column;
    margin-top: $margin-l;
  }
}