//スケジュールのテーブル
.c-schedule-table{
  width: 100%;
  margin: 0 auto;
  height: auto;
  border: $black solid 3px;
  box-sizing: border-box;

  @include tb(){
    width: 100%;
  }
  @include sp(){
    width: 100%;
  }
}