//スクールの特徴のテキスト部分
.c-text-area{
  padding: $padding-ll;
  width: 50%;
  box-sizing: border-box;

 @include tb(){
   padding: $padding-ss;
   width: 50%;
 }
  @include sp(){
    width: 100%;
    padding: $padding-ss;
    &:first-child{
      order: 1;
    }
    &:nth-child(3){
      order: 1;
    }
  }
}