//スケジュールのレッスン場所部分
.c-textSection-area{
  display: flex;
  justify-content: space-between;
  padding-left: $padding-xl;
  padding-right: $padding-xl;
  margin-top: $margin-xll;

  @include tb(){
    padding-left: $padding-m;
    padding-right: $padding-m;
    margin-bottom: $margin-m;
  }
  @include sp(){
    flex-direction: column;
    align-items: center;
  }
}