//ぱんくずリスト部分
.c-topicPath-area{
  width: 100%;
  height: 68px;
  padding-left: 180px;
  background: $gray;
  box-sizing: border-box;

  @include tb(){
    height: 56px;
    padding-left: $padding-m;
  }
}