//topページ理由の灰色背景色
.p-heading-square{
  background: $lightGray;
  width: 100%;
  height: auto;
  line-height: 64px;
  margin-bottom: $margin-s;
  text-align: center;

  @include tb(){
    line-height: 34px;
    vertical-align: middle;
    height: auto;
  }
}