//スケジュールの緑背景色
.p-text-square{
  background: $green;
  width: 100%;
  height: 64px;
  line-height: 64px;
  margin-bottom: $margin-s;
  text-align: center;

  @include sp(){
    line-height: 34px;
    vertical-align: middle;
  }
}