//ハンバーガーメニューの部分のみ抽出
//スマホのみの表示
#l-nav-drawer{
  //画面幅が480px以上は表示しない
    display: none;
  //画面幅が480px以下のときは表示する
  @include tb(){
    position: relative;


    /*チェックボックス等は非表示に*/
    .l-nav-none {
      display:none;
    }

    /*アイコンのスペース*/
    #l-nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }

    /*ハンバーガーアイコンのCSS*/
    #l-nav-open span, #l-nav-open span:before, #l-nav-open span:after {
      position: absolute;
      height: 3px;/*線の太さ*/
      width: 25px;/*長さ*/
      border-radius: 3px;
      background: #555;
      display: block;
      content: '';
      cursor: pointer;
    }
    #l-nav-open span:before {
      bottom: -8px;
    }
    #l-nav-open span:after {
      bottom: -16px;
    }

    /*閉じる用の薄黒カバー*/
    #l-nav-close {
      display: none;/*はじめは隠しておく*/
      position: fixed;
      z-index: 3;
      top: 0;/*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
    }

    /*中身*/
    #l-nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 4;/*最前面に*/
      width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
      max-width: 330px;/*最大幅（調整してください）*/
      height: 100%;
      background: $gray;/*背景色*/
      transition: .3s ease-in-out;/*滑らかに表示*/
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);/*左に隠しておく*/

      .l-sp-nav{
        width: 50%;
        height: 100%;
        margin: 0 auto;
        padding: 22;

        .l-sp-li{
          margin-bottom: 45px;

          .l-sp-a{
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            line-height: 20px;
            font-size: $font-size-l;
            color: $mosGreen;
          }
        }
      }
    }

    /*チェックが入ったらもろもろ表示*/
    #l-nav-input:checked ~ #l-nav-close {
      display: block;/*カバーを表示*/
      opacity: .5;
    }

    #l-nav-input:checked ~ #l-nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示（右へスライド）*/
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
  }

}
