//footer
.l-footer{
  width: 100%;
  height: 240px;
  background: $darkGreen;
  padding: $padding-m;
  box-sizing: border-box;

  @include sp(){
    display: flex;
    flex-direction: column;
    padding: $padding-s;
    height: auto;
  }
}