//header
.l-header{
  width: 100%;
  height: 120px;
  background: $green;
  display: flex;
  justify-content: space-between;
  padding: $padding-s;
  box-sizing: border-box;

  @include tb(){
    height: 80px;
  }
}